<a href="https://colab.research.google.com/github/ItighneS/RWAP-Assessment/blob/main/RWAP_Dataset_Merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import pandas as pd

In [ ]:
# Mount Google Drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

After you run the previous cell and authorize access, run the next cell to load the datasets.

##Loading the Datasets

In [ ]:
# Define the paths to the datasets
dataset1_path = '/content/drive/MyDrive/RWAP/Dataset1.csv'
dataset2_path = '/content/drive/MyDrive/RWAP/Dataset2.csv'

# Load the datasets into pandas DataFrames
try:
    df_dataset1 = pd.read_csv(dataset1_path)
    print("Dataset1 loaded successfully.")
    display(df_dataset1.head())
except FileNotFoundError:
    print(f"Error: Dataset1 not found at {dataset1_path}")
    df_dataset1 = None

try:
    df_dataset2 = pd.read_csv(dataset2_path)
    print("Dataset2 loaded successfully.")
    display(df_dataset2.head())
except FileNotFoundError:
    print(f"Error: Dataset2 not found at {dataset2_path}")
    df_dataset2 = None

Dataset1 loaded successfully.

,Location Code,Real Property Asset Name,Installation Name,Owned or Leased,GSA Region,Street Address,City,State,Zip Code,Latitude,Longitude,Building Rentable Square Feet,Available Square Feet,Construction Date,Congressional District,Congressional District Representative Name,Building Status,Real Property Asset Type
0,GA2338,THOMPSON BRIDGE RD BLDG,NaN,L,4,2565 THOMPSON BRIDGE RD,GAINESVILLE,GA,30501,34.339030,-83.848641,17844.0,NaN,2000.0,1309,Andrew Clyde,Active,BUILDING
1,WI1771,345 WEST WASHINGTON AVENUE,NaN,L,5,345 W WASHINGTON AVE,MADISON,WI,53703,43.071400,-89.387941,10089.0,NaN,2000.0,5502,Mark Pocan,Active,BUILDING
2,MN1743,1301 1/2 7TH ST. NW,NaN,L,5,1301 1/2 7TH ST NW,ROCHESTER,MN,55901,44.031849,-92.481598,3041.0,NaN,2000.0,2701,Brad Finstad,Active,BUILDING
3,MD1008,WOODLAWN OFFICE COMPLEX,NaN,L,3,1718 WOODLAWN DR,WOODLAWN,MD,21207,39.314760,-76.737771,160810.0,NaN,2000.0,2407,Kweisi Mfume,Active,BUILDING
4,CO1890,466 TUCKER SREET,NaN,L,8,466 TUCKER ST,CRAIG,CO,81625,40.513620,-107.545000,5000.0,NaN,2000.0,803,Lauren Boebert,Active,BUILDING

Dataset2 loaded successfully.

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,31-01-2000,...,31-10-2024,30-11-2024,31-12-2024,31-01-2025,28-02-2025,31-03-2025,30-04-2025,31-05-2025,30-06-2025,31-07-2025
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,214937.7873,...,511217.8090,511954.1356,512382.5758,512816.5072,512487.4172,511561.2138,509731.4560,507492.0376,504842.2961,502726.3161
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,116810.6360,...,540520.8222,543510.7379,545285.8202,545849.9300,547812.3642,550152.4531,553512.2237,556393.3894,559017.4381,560869.5579
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,105455.3185,...,285966.9656,285165.7839,284424.4512,283803.7233,283169.6570,282323.9800,281349.6042,280532.3322,279516.0338,278559.7597
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,175466.1562,...,543312.8451,541859.7288,539178.0662,536665.5431,536533.0405,536184.6726,536070.6387,536466.7218,538555.2897,541336.1570
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,104429.8830,...,279339.6178,278729.0864,278383.5047,278136.3812,277726.8327,276853.0575,275794.7665,274885.5880,273866.1883,272937.6272

##Missing value Treatment

### Subtask:
Create copies of `df_dataset1` and `df_dataset2` to perform preprocessing on.

In [ ]:
if df_dataset1 is not None:
    df_dataset1_processed = df_dataset1.copy()
    print("Created a copy of df_dataset1: df_dataset1_processed")
else:
    print("df_dataset1 is not loaded, cannot create a copy.")

if df_dataset2 is not None:
    df_dataset2_processed = df_dataset2.copy()
    print("Created a copy of df_dataset2: df_dataset2_processed")
else:
    print("df_dataset2 is not loaded, cannot create a copy.")

Created a copy of df_dataset1: df_dataset1_processed
Created a copy of df_dataset2: df_dataset2_processed

In [ ]:
if 'df_dataset1_processed' in locals() and df_dataset1_processed is not None:
    # Columns to drop (combined from both blocks)
    columns_to_drop = [
        'Location Code',
        'Real Property Asset Name',
        'Congressional District Representative Name',
        'Installation Name',
        'Available Square Feet'
    ]

    # Drop only those columns that exist
    columns_exist = [col for col in columns_to_drop if col in df_dataset1_processed.columns]
    if columns_exist:
        df_dataset1_processed = df_dataset1_processed.drop(columns=columns_exist)
        print(f"Dropped columns: {columns_exist}")
    else:
        print("None of the specified columns were found in df_dataset1_processed.")

    # Print summary after dropping
    print("\n--- Columns in df_dataset1_processed after dropping ---")
    print(df_dataset1_processed.columns.tolist())

    print("\n--- Missing Values in df_dataset1_processed after dropping columns ---")
    print(df_dataset1_processed.isnull().sum())
else:
    print("df_dataset1_processed is not available. Please ensure previous steps were completed.")

Dropped columns: ['Location Code', 'Real Property Asset Name', 'Congressional District Representative Name', 'Installation Name', 'Available Square Feet']

--- Columns in df_dataset1_processed after dropping ---
['Owned or Leased', 'GSA Region', 'Street Address', 'City', 'State', 'Zip Code', 'Latitude', 'Longitude', 'Building Rentable Square Feet', 'Construction Date', 'Congressional District', 'Building Status', 'Real Property Asset Type']

--- Missing Values in df_dataset1_processed after dropping columns ---
Owned or Leased                   0
GSA Region                        0
Street Address                    0
City                              0
State                             0
Zip Code                          0
Latitude                          0
Longitude                         0
Building Rentable Square Feet     0
Construction Date                50
Congressional District            0
Building Status                   0
Real Property Asset Type          0
dtype: int64



### Subtask: Feature Build
Create 'Building Age' column based on 'Construction Date'.

In [ ]:
from datetime import datetime

if 'df_dataset1_processed' in locals() and df_dataset1_processed is not None:
    # Get the current year
    current_year = datetime.now().year

    # Calculate 'Building Age', preserving NaN values
    # The subtraction will automatically result in NaN if 'Construction Date' is NaN
    df_dataset1_processed['Building Age'] = current_year - df_dataset1_processed['Construction Date']

    print("Added 'Building Age' column to df_dataset1_processed.")

    print("\n--- Head of df_dataset1_processed with 'Building Age' ---")
    display(df_dataset1_processed.head())

    print("\n--- Info of df_dataset1_processed with 'Building Age' ---")
    df_dataset1_processed.info()

else:
    print("df_dataset1_processed is not available. Please ensure previous steps were completed.")

Added 'Building Age' column to df_dataset1_processed.

--- Head of df_dataset1_processed with 'Building Age' ---

,Owned or Leased,GSA Region,Street Address,City,State,Zip Code,Latitude,Longitude,Building Rentable Square Feet,Construction Date,Congressional District,Building Status,Real Property Asset Type,Building Age
0,L,4,2565 THOMPSON BRIDGE RD,GAINESVILLE,GA,30501,34.339030,-83.848641,17844.0,2000.0,1309,Active,BUILDING,25.0
1,L,5,345 W WASHINGTON AVE,MADISON,WI,53703,43.071400,-89.387941,10089.0,2000.0,5502,Active,BUILDING,25.0
2,L,5,1301 1/2 7TH ST NW,ROCHESTER,MN,55901,44.031849,-92.481598,3041.0,2000.0,2701,Active,BUILDING,25.0
3,L,3,1718 WOODLAWN DR,WOODLAWN,MD,21207,39.314760,-76.737771,160810.0,2000.0,2407,Active,BUILDING,25.0
4,L,8,466 TUCKER ST,CRAIG,CO,81625,40.513620,-107.545000,5000.0,2000.0,803,Active,BUILDING,25.0

--- Info of df_dataset1_processed with 'Building Age' ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8652 entries, 0 to 8651
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Owned or Leased                8652 non-null   object
 1   GSA Region                     8652 non-null   int64
 2   Street Address                 8652 non-null   object
 3   City                           8652 non-null   object
 4   State                          8652 non-null   object
 5   Zip Code                       8652 non-null   int64
 6   Latitude                       8652 non-null   float64
 7   Longitude                      8652 non-null   float64
 8   Building Rentable Square Feet  8652 non-null   float64
 9   Construction Date              8602 non-null   float64
 10  Congressional District         8652 non-null   int64
 11  Building Status                8652 non-null   object
 12  Real Property Asset Type       8652 non-null   object
 13  Building Age                   8602 non-null   float64
dtypes: float64(5), int64(3), object(6)
memory usage: 946.4+ KB

### Subtask:Handle Categorical Variables (df_dataset1)

Identify and prepare categorical variables in `df_dataset1_processed` for analysis.

In [ ]:
if 'df_dataset1_processed' in locals() and df_dataset1_processed is not None:
    print("--- Value Counts for Categorical Columns in df_dataset1_processed ---")

    # Identify categorical columns (excluding those likely to be unique identifiers or addresses)
    categorical_cols = [
        'Owned or Leased',
        'GSA Region',
        'State', 'City',
        'Congressional District',
        'Building Status',
        'Real Property Asset Type'
        ]

    for col in categorical_cols:
        if col in df_dataset1_processed.columns:
            print(f"\n--- Value Counts for {col} ---")
            print(df_dataset1_processed[col].value_counts())
        else:
            print(f"\nColumn '{col}' not found in df_dataset1_processed.")

    print("\nBased on these value counts, you can decide which categorical columns to encode and which encoding method to use.")

else:
    print("df_dataset1_processed is not available. Please ensure previous steps were completed.")

--- Value Counts for Categorical Columns in df_dataset1_processed ---

--- Value Counts for Owned or Leased ---
Owned or Leased
L    6850
F    1802
Name: count, dtype: int64

--- Value Counts for GSA Region ---
GSA Region
4     1390
7     1387
9     1058
5      982
3      778
8      676
11     595
2      521
10     478
1      395
6      392
Name: count, dtype: int64

--- Value Counts for State ---
State
TX    908
CA    733
FL    401
NY    358
VA    348
MD    311
DC    278
CO    242
PA    240
IL    230
MI    220
WA    211
NC    205
GA    202
AZ    198
MO    194
OH    189
TN    157
MT    141
NM    139
NJ    138
LA    138
IN    137
AL    123
OK    120
KY    117
MA    115
WI    109
WV    101
AK    101
OR    100
UT    100
MN     97
MS     93
SC     92
ME     90
AR     82
VT     79
PR     75
IA     75
ND     74
KS     69
SD     69
ID     66
NV     60
NE     54
CT     52
WY     50
HI     46
NH     37
DE     32
RI     22
VI     13
GU      9
MP      7
AS      5
Name: count, dtype: int64

--- Value Counts for City ---
City
WASHINGTON          280
EL PASO              86
LAREDO               86
LAKEWOOD             76
SAN DIEGO            66
                   ...
NORTH RIVERSIDE       1
SMITHFIELD            1
WEST BEND             1
ESTCOURT STATION      1
HUMACAO               1
Name: count, Length: 1949, dtype: int64

--- Value Counts for Congressional District ---
Congressional District
1198    278
4823    135
4834    109
4828    105
200     101
       ...
1709      2
4826      1
3609      1
1211      1
4201      1
Name: count, Length: 439, dtype: int64

--- Value Counts for Building Status ---
Building Status
Active            8588
Excess              51
Decommissioned      13
Name: count, dtype: int64

--- Value Counts for Real Property Asset Type ---
Real Property Asset Type
BUILDING     8271
STRUCTURE     331
LAND           50
Name: count, dtype: int64

Based on these value counts, you can decide which categorical columns to encode and which encoding method to use.

In [ ]:
if 'df_dataset2_processed' in locals() and df_dataset2_processed is not None:
    print("--- Dropping specified columns from df_dataset2_processed ---")
    columns_to_drop = ['RegionID', 'RegionType', 'StateName']
    columns_to_drop_exist = [col for col in columns_to_drop if col in df_dataset2_processed.columns]

    if columns_to_drop_exist:
        df_dataset2_processed = df_dataset2_processed.drop(columns=columns_to_drop_exist)
        print(f"Dropped columns: {columns_to_drop_exist}")
    else:
        print("Specified columns not found in df_dataset2_processed.")

    print("\n--- Columns in df_dataset2_processed after dropping ---")
    print(df_dataset2_processed.columns)

else:
    print("df_dataset2_processed is not available. Please ensure previous steps were completed.")

--- Dropping specified columns from df_dataset2_processed ---
Dropped columns: ['RegionID', 'RegionType', 'StateName']

--- Columns in df_dataset2_processed after dropping ---
Index(['SizeRank', 'RegionName', 'State', 'City', 'Metro', 'CountyName',
       '31-01-2000', '29-02-2000', '31-03-2000', '30-04-2000',
       ...
       '31-10-2024', '30-11-2024', '31-12-2024', '31-01-2025', '28-02-2025',
       '31-03-2025', '30-04-2025', '31-05-2025', '30-06-2025', '31-07-2025'],
      dtype='object', length=313)

In [ ]:
import json
import pandas as pd

def encode_categorical_columns_consistently(
    df1, df2, columns_df1, columns_df2,
    mapping_file_path_df1="encoding_mappings_dataset1.json",
    mapping_file_path_df2="encoding_mappings_dataset2.json"
):
    """
    Encode categorical columns in two datasets consistently.
    Saves separate mapping JSONs for dataset1 and dataset2.

    Returns:
        df1_encoded, df2_encoded
    """
    encoding_mappings_df1 = {}
    encoding_mappings_df2 = {}

    # Take union of all columns needing encoding
    all_columns = set(columns_df1).union(set(columns_df2))

    for col in all_columns:
        # Collect unique values from both datasets (ignoring NaNs)
        unique_values = set()
        if col in df1.columns:
            unique_values.update(df1[col].dropna().unique())
        if col in df2.columns:
            unique_values.update(df2[col].dropna().unique())

        # Sort to assign consistent numeric labels
        sorted_values = sorted(unique_values, key=lambda x: str(x))
        value_map = {str(val): int(idx) for idx, val in enumerate(sorted_values)}

        # Apply mapping to each dataset if column exists
        if col in df1.columns:
            df1[col] = df1[col].map(lambda x: value_map.get(str(x)) if pd.notnull(x) else x)
            if col in columns_df1:
                encoding_mappings_df1[col] = value_map

        if col in df2.columns:
            df2[col] = df2[col].map(lambda x: value_map.get(str(x)) if pd.notnull(x) else x)
            if col in columns_df2:
                encoding_mappings_df2[col] = value_map

        print(f"Encoded column '{col}' consistently across datasets.")

    # Save mappings
    with open(mapping_file_path_df1, "w") as f1:
        json.dump(encoding_mappings_df1, f1, indent=4)
        print(f"Dataset1 encoding mapping saved to '{mapping_file_path_df1}'")

    with open(mapping_file_path_df2, "w") as f2:
        json.dump(encoding_mappings_df2, f2, indent=4)
        print(f"Dataset2 encoding mapping saved to '{mapping_file_path_df2}'")

    return df1, df2

# Updated column lists
label_encode_cols_df1 = [
    'Owned or Leased', 'GSA Region', 'State', 'Congressional District',
    'City', 'Building Status', 'Real Property Asset Type'
]

label_encode_cols_df2 = [
    'State', 'City', 'Metro', 'CountyName'
]

# Encode consistently
df_dataset1_processed, df_dataset2_processed = encode_categorical_columns_consistently(
    df_dataset1_processed, df_dataset2_processed,
    label_encode_cols_df1, label_encode_cols_df2
)

Encoded column 'CountyName' consistently across datasets.
Encoded column 'Owned or Leased' consistently across datasets.
Encoded column 'State' consistently across datasets.
Encoded column 'City' consistently across datasets.
Encoded column 'Metro' consistently across datasets.
Encoded column 'GSA Region' consistently across datasets.
Encoded column 'Congressional District' consistently across datasets.
Encoded column 'Real Property Asset Type' consistently across datasets.
Encoded column 'Building Status' consistently across datasets.
Dataset1 encoding mapping saved to 'encoding_mappings_dataset1.json'
Dataset2 encoding mapping saved to 'encoding_mappings_dataset2.json'

In [ ]:
if 'df_dataset1_processed' in locals() and df_dataset1_processed is not None:
    print("--- Columns in df_dataset1_processed ---")
    print(df_dataset1_processed.columns.tolist())
else:
    print("df_dataset1_processed is not available.")

if 'df_dataset2_processed' in locals() and df_dataset2_processed is not None:
    print("\n--- Columns in df_dataset2_processed ---")
    print(df_dataset2_processed.columns.tolist())
else:
    print("df_dataset2_processed is not available.")

--- Columns in df_dataset1_processed ---
['Owned or Leased', 'GSA Region', 'Street Address', 'City', 'State', 'Zip Code', 'Latitude', 'Longitude', 'Building Rentable Square Feet', 'Construction Date', 'Congressional District', 'Building Status', 'Real Property Asset Type', 'Building Age']

--- Columns in df_dataset2_processed ---
['SizeRank', 'RegionName', 'State', 'City', 'Metro', 'CountyName', '31-01-2000', '29-02-2000', '31-03-2000', '30-04-2000', '31-05-2000', '30-06-2000', '31-07-2000', '31-08-2000', '30-09-2000', '31-10-2000', '30-11-2000', '31-12-2000', '31-01-2001', '28-02-2001', '31-03-2001', '30-04-2001', '31-05-2001', '30-06-2001', '31-07-2001', '31-08-2001', '30-09-2001', '31-10-2001', '30-11-2001', '31-12-2001', '31-01-2002', '28-02-2002', '31-03-2002', '30-04-2002', '31-05-2002', '30-06-2002', '31-07-2002', '31-08-2002', '30-09-2002', '31-10-2002', '30-11-2002', '31-12-2002', '31-01-2003', '28-02-2003', '31-03-2003', '30-04-2003', '31-05-2003', '30-06-2003', '31-07-2003', '31-08-2003', '30-09-2003', '31-10-2003', '30-11-2003', '31-12-2003', '31-01-2004', '29-02-2004', '31-03-2004', '30-04-2004', '31-05-2004', '30-06-2004', '31-07-2004', '31-08-2004', '30-09-2004', '31-10-2004', '30-11-2004', '31-12-2004', '31-01-2005', '28-02-2005', '31-03-2005', '30-04-2005', '31-05-2005', '30-06-2005', '31-07-2005', '31-08-2005', '30-09-2005', '31-10-2005', '30-11-2005', '31-12-2005', '31-01-2006', '28-02-2006', '31-03-2006', '30-04-2006', '31-05-2006', '30-06-2006', '31-07-2006', '31-08-2006', '30-09-2006', '31-10-2006', '30-11-2006', '31-12-2006', '31-01-2007', '28-02-2007', '31-03-2007', '30-04-2007', '31-05-2007', '30-06-2007', '31-07-2007', '31-08-2007', '30-09-2007', '31-10-2007', '30-11-2007', '31-12-2007', '31-01-2008', '29-02-2008', '31-03-2008', '30-04-2008', '31-05-2008', '30-06-2008', '31-07-2008', '31-08-2008', '30-09-2008', '31-10-2008', '30-11-2008', '31-12-2008', '31-01-2009', '28-02-2009', '31-03-2009', '30-04-2009', '31-05-2009', '30-06-2009', '31-07-2009', '31-08-2009', '30-09-2009', '31-10-2009', '30-11-2009', '31-12-2009', '31-01-2010', '28-02-2010', '31-03-2010', '30-04-2010', '31-05-2010', '30-06-2010', '31-07-2010', '31-08-2010', '30-09-2010', '31-10-2010', '30-11-2010', '31-12-2010', '31-01-2011', '28-02-2011', '31-03-2011', '30-04-2011', '31-05-2011', '30-06-2011', '31-07-2011', '31-08-2011', '30-09-2011', '31-10-2011', '30-11-2011', '31-12-2011', '31-01-2012', '29-02-2012', '31-03-2012', '30-04-2012', '31-05-2012', '30-06-2012', '31-07-2012', '31-08-2012', '30-09-2012', '31-10-2012', '30-11-2012', '31-12-2012', '31-01-2013', '28-02-2013', '31-03-2013', '30-04-2013', '31-05-2013', '30-06-2013', '31-07-2013', '31-08-2013', '30-09-2013', '31-10-2013', '30-11-2013', '31-12-2013', '31-01-2014', '28-02-2014', '31-03-2014', '30-04-2014', '31-05-2014', '30-06-2014', '31-07-2014', '31-08-2014', '30-09-2014', '31-10-2014', '30-11-2014', '31-12-2014', '31-01-2015', '28-02-2015', '31-03-2015', '30-04-2015', '31-05-2015', '30-06-2015', '31-07-2015', '31-08-2015', '30-09-2015', '31-10-2015', '30-11-2015', '31-12-2015', '31-01-2016', '29-02-2016', '31-03-2016', '30-04-2016', '31-05-2016', '30-06-2016', '31-07-2016', '31-08-2016', '30-09-2016', '31-10-2016', '30-11-2016', '31-12-2016', '31-01-2017', '28-02-2017', '31-03-2017', '30-04-2017', '31-05-2017', '30-06-2017', '31-07-2017', '31-08-2017', '30-09-2017', '31-10-2017', '30-11-2017', '31-12-2017', '31-01-2018', '28-02-2018', '31-03-2018', '30-04-2018', '31-05-2018', '30-06-2018', '31-07-2018', '31-08-2018', '30-09-2018', '31-10-2018', '30-11-2018', '31-12-2018', '31-01-2019', '28-02-2019', '31-03-2019', '30-04-2019', '31-05-2019', '30-06-2019', '31-07-2019', '31-08-2019', '30-09-2019', '31-10-2019', '30-11-2019', '31-12-2019', '31-01-2020', '29-02-2020', '31-03-2020', '30-04-2020', '31-05-2020', '30-06-2020', '31-07-2020', '31-08-2020', '30-09-2020', '31-10-2020', '30-11-2020', '31-12-2020', '31-01-2021', '28-02-2021', '31-03-2021', '30-04-2021', '31-05-2021', '30-06-2021', '31-07-2021', '31-08-2021', '30-09-2021', '31-10-2021', '30-11-2021', '31-12-2021', '31-01-2022', '28-02-2022', '31-03-2022', '30-04-2022', '31-05-2022', '30-06-2022', '31-07-2022', '31-08-2022', '30-09-2022', '31-10-2022', '30-11-2022', '31-12-2022', '31-01-2023', '28-02-2023', '31-03-2023', '30-04-2023', '31-05-2023', '30-06-2023', '31-07-2023', '31-08-2023', '30-09-2023', '31-10-2023', '30-11-2023', '31-12-2023', '31-01-2024', '29-02-2024', '31-03-2024', '30-04-2024', '31-05-2024', '30-06-2024', '31-07-2024', '31-08-2024', '30-09-2024', '31-10-2024', '30-11-2024', '31-12-2024', '31-01-2025', '28-02-2025', '31-03-2025', '30-04-2025', '31-05-2025', '30-06-2025', '31-07-2025']

##Task : Primary Merge using ZipCode and RegionName

In [ ]:
import pandas as pd

# --- Step 0: Clean up any leftover engineered columns ---
for col in df_dataset1_processed.columns:
    if "city_state_clean" in col:
        df_dataset1_processed = df_dataset1_processed.drop(columns=[col])

for col in df_dataset2_processed.columns:
    if "city_state_clean" in col:
        df_dataset2_processed = df_dataset2_processed.drop(columns=[col])

# --- Step 1: Ensure Zip columns are strings for merging ---
df_dataset1_processed["Zip Code"] = df_dataset1_processed["Zip Code"].astype(str)
df_dataset2_processed["RegionName"] = df_dataset2_processed["RegionName"].astype(str)

# --- Step 2: Primary merge on Zip Code ---
merged_zip = pd.merge(
    df_dataset1_processed,
    df_dataset2_processed,
    left_on="Zip Code",
    right_on="RegionName",
    how="left",
    suffixes=("_d1", "_d2")
)

print("--- Performing primary merge on Zip Code ---")

# Check if SizeRank exists before filtering unmatched
if "SizeRank" in merged_zip.columns:
    unmatched_zip = merged_zip[merged_zip["SizeRank"].isnull()].copy()
    print(f"{len(unmatched_zip)} rows from dataset1 did not find a match on Zip Code.")
else:
    unmatched_zip = pd.DataFrame()  # fallback empty DataFrame
    print("Warning: 'SizeRank' column not found in dataset2; cannot detect unmatched rows.")

# Optionally reset index
merged_zip.reset_index(drop=True, inplace=True)
unmatched_zip.reset_index(drop=True, inplace=True)

--- Performing primary merge on Zip Code ---
616 rows from dataset1 did not find a match on Zip Code.

##Task: Secondary Merge using City + State

In [ ]:
### --- Step 3: Secondary merge on City+State for unmatched Zip ---

# Work on a copy to avoid SettingWithCopyWarning
unmatched_zip = unmatched_zip.copy()

# Ensure City/State columns exist in both datasets
for col in ["City_d1", "State_d1"]:
    if col not in unmatched_zip.columns:
        unmatched_zip[col] = ""  # fallback empty string if missing

for col in ["City", "State"]:
    if col not in df_dataset2_processed.columns:
        df_dataset2_processed[col] = ""

# Create clean city_state keys for dataset1
unmatched_zip["city_state_clean_d1"] = (
    unmatched_zip["City_d1"].astype(str).str.strip().str.lower() + ", " +
    unmatched_zip["State_d1"].astype(str).str.strip().str.lower()
)

# Create clean city_state keys for dataset2
df_dataset2_processed["city_state_clean_d2"] = (
    df_dataset2_processed["City"].astype(str).str.strip().str.lower() + ", " +
    df_dataset2_processed["State"].astype(str).str.strip().str.lower()
)

# Perform secondary merge
merged_city = pd.merge(
    unmatched_zip,
    df_dataset2_processed,
    left_on="city_state_clean_d1",
    right_on="city_state_clean_d2",
    how="left",
    suffixes=("_d1", "_d2")
)

print("\n--- Performing secondary merge on City+State ---")

# Detect which RegionName belongs to dataset2
region_candidates = [c for c in merged_city.columns if "RegionName" in c]
print("RegionName candidates after merge:", region_candidates)

# Select the right column (dataset2 side)
region_col = next((c for c in region_candidates if c.endswith("_d2") or c.endswith("_city")), None)
if region_col is None:
    region_col = "RegionName"  # fallback

# Rows still unmatched after City+State merge
unmatched_city = merged_city[merged_city[region_col].isnull()].copy()
print(f"{len(unmatched_city)} rows from dataset1 still unmatched after City+State merge.")

# Optional: reset index for convenience
merged_city.reset_index(drop=True, inplace=True)
unmatched_city.reset_index(drop=True, inplace=True)

--- Performing secondary merge on City+State ---
RegionName candidates after merge: ['RegionName_d1', 'RegionName_d2']
616 rows from dataset1 still unmatched after City+State merge.

In [ ]:
### --- Step 4: Consolidate matches from Zip and City+State ---

# Primary merge matches (matched on Zip)
matched_zip = merged_zip[~merged_zip["SizeRank"].isnull()].copy()

# Secondary merge matches (matched on City+State)
region_candidates = [c for c in merged_city.columns if "RegionName" in c]
print("RegionName candidates in merged_city:", region_candidates)

# Pick dataset2's RegionName column
region_col = next((c for c in region_candidates if c.endswith("_d2") or c.endswith("_city")), None)
if region_col is None:
    region_col = "RegionName"  # fallback

matched_city = merged_city[~merged_city[region_col].isnull()].copy()
unmatched_city = merged_city[merged_city[region_col].isnull()].copy()

# Final combined dataset: Zip matches first, then City+State matches
final_merged = pd.concat([matched_zip, matched_city], ignore_index=True)

# Optional: reset index and drop temporary columns
final_merged.reset_index(drop=True, inplace=True)
for col in ["city_state_clean_d1", "city_state_clean_d2"]:
    if col in final_merged.columns:
        final_merged.drop(columns=[col], inplace=True)

### --- Step 5: Print merge stats ---
print("\n--- Final Merge Results ---")
print(f"Total rows in dataset1: {len(df_dataset1_processed)}")
print(f"Matched on Zip: {len(matched_zip)}")
print(f"Matched on City+State: {len(matched_city)}")
print(f"Still unmatched after both merges: {len(unmatched_city)}")
print(f"Final merged dataset shape: {final_merged.shape}")

RegionName candidates in merged_city: ['RegionName_d1', 'RegionName_d2']

--- Final Merge Results ---
Total rows in dataset1: 8652
Matched on Zip: 8036
Matched on City+State: 0
Still unmatched after both merges: 616
Final merged dataset shape: (8036, 951)

##Task: Spatial Recovery using GeoPandas

In [ ]:
# ============================================
# Spatial recovery for unmatched rows
# ============================================

# 0) Install & imports
try:
    import geopandas as gpd
    from shapely.geometry import Point
except Exception:
    !pip install geopandas shapely pyproj --quiet
    import geopandas as gpd
    from shapely.geometry import Point

try:
    import pgeocode
except Exception:
    !pip install pgeocode --quiet
    import pgeocode

import numpy as np
import pandas as pd

# -----------------------------
# 1) Choose our "unmatched base"
# -----------------------------
if 'unmatched_city' in locals() and unmatched_city is not None and len(unmatched_city) > 0:
    unmatched_base = unmatched_city.copy()
    print(f"Using unmatched_city as base: {len(unmatched_base)} rows")
elif 'unmatched_zip' in locals() and unmatched_zip is not None and len(unmatched_zip) > 0:
    unmatched_base = unmatched_zip.copy()
    print(f"Using unmatched_zip as base: {len(unmatched_base)} rows")
else:
    unmatched_base = pd.DataFrame()
    print("No unmatched rows to recover. Exiting spatial recovery.")

if unmatched_base.empty:
    print("No unmatched rows to recover via spatial join. You're all set âœ…")
else:
    # --------------------------------------
    # 2) Prepare Dataset2 ZIP centroids (lat/lng)
    # --------------------------------------
    df_dataset2_processed['RegionName'] = df_dataset2_processed['RegionName'].astype(str).str.zfill(5)
    nomi = pgeocode.Nominatim('us')

    unique_zips = df_dataset2_processed['RegionName'].dropna().unique().tolist()
    z_meta = nomi.query_postal_code(unique_zips)
    z_meta = z_meta[['postal_code', 'latitude', 'longitude']].rename(
        columns={'postal_code': 'RegionName', 'latitude': 'lat', 'longitude': 'lng'}
    )
    z_meta['RegionName'] = z_meta['RegionName'].astype(str).str.zfill(5)

    d2_with_xy = df_dataset2_processed.merge(z_meta, on='RegionName', how='left')

    # --------------------------------------
    # 3) Build coordinates for unmatched_base (dataset1 side)
    # --------------------------------------
    d1 = unmatched_base.copy()

    # Normalize Latitude/Longitude columns if present
    lat_col = next((c for c in d1.columns if c.lower() == 'latitude'), None)
    lng_col = next((c for c in d1.columns if c.lower() == 'longitude'), None)

    d1['asset_lat'] = np.nan
    d1['asset_lng'] = np.nan

    if lat_col and lng_col:
        d1.loc[~d1[lat_col].isna() & ~d1[lng_col].isna(), 'asset_lat'] = d1.loc[~d1[lat_col].isna() & ~d1[lng_col].isna(), lat_col]
        d1.loc[~d1[lat_col].isna() & ~d1[lng_col].isna(), 'asset_lng'] = d1.loc[~d1[lat_col].isna() & ~d1[lng_col].isna(), lng_col]

    # ZIP â†’ centroid fallback
    if 'Zip Code' in d1.columns:
        d1['Zip Code'] = d1['Zip Code'].astype(str).str.zfill(5)
        z1_meta = nomi.query_postal_code(d1['Zip Code'].tolist())

        # Convert to Series aligned with d1's index
        z1_lat = pd.Series(z1_meta['latitude'].values, index=d1.index)
        z1_lng = pd.Series(z1_meta['longitude'].values, index=d1.index)

        d1['asset_lat'] = d1['asset_lat'].fillna(z1_lat)
        d1['asset_lng'] = d1['asset_lng'].fillna(z1_lng)

    # --------------------------------------
    # 4) Build GeoDataFrames & nearest join
    # --------------------------------------
    have_xy = (~d1['asset_lat'].isna()) & (~d1['asset_lng'].isna())
    print(f"Assets ready for spatial match (have coords): {have_xy.sum()} / {len(d1)}")

    gdf_assets = gpd.GeoDataFrame(
        d1.loc[have_xy].copy(),
        geometry=gpd.points_from_xy(d1.loc[have_xy, 'asset_lng'], d1.loc[have_xy, 'asset_lat']),
        crs='EPSG:4326'
    )

    gdf_ref = gpd.GeoDataFrame(
        d2_with_xy.dropna(subset=['lat', 'lng']).copy(),
        geometry=gpd.points_from_xy(d2_with_xy.dropna(subset=['lat', 'lng'])['lng'],
                                    d2_with_xy.dropna(subset=['lat', 'lng'])['lat']),
        crs='EPSG:4326'
    )

    gdf_assets = gdf_assets.to_crs(3857)
    gdf_ref = gdf_ref.to_crs(3857)

    gdf_spatial = gpd.sjoin_nearest(
        gdf_assets, gdf_ref, how='left', distance_col='nearest_dist_m'
    )

    DIST_THRESHOLD_M = 30000
    gdf_spatial_filt = gdf_spatial[gdf_spatial['nearest_dist_m'] <= DIST_THRESHOLD_M].copy()

    print("Spatial recovered rows (within threshold):", len(gdf_spatial_filt), "/", len(gdf_assets))
    print("Distance (m) summary:\n", gdf_spatial_filt['nearest_dist_m'].describe())

    # --------------------------------------
    # 5) Convert back to DataFrame & stitch
    # --------------------------------------
    spatial_recovered = pd.DataFrame(gdf_spatial_filt.drop(columns='geometry'))

    # Previously matched datasets
    matched_zip = merged_zip[~merged_zip['SizeRank'].isna()].copy() if 'merged_zip' in locals() else pd.DataFrame()
    region_candidates = [c for c in merged_city.columns if 'RegionName' in c] if 'merged_city' in locals() else []
    region_col = next((c for c in region_candidates if c.endswith('_d2') or c.endswith('_city')), None) if region_candidates else None
    matched_city = merged_city[merged_city[region_col].notna()].copy() if region_col is not None else pd.DataFrame()

    final_merged_spatial = pd.concat([matched_zip, matched_city, spatial_recovered], ignore_index=True)

    print("\n--- FINAL COUNTS ---")
    print(f"Previously matched on Zip:        {len(matched_zip)}")
    print(f"Previously matched on City+State: {len(matched_city)}")
    print(f"Newly matched spatially:          {len(spatial_recovered)} (<= {DIST_THRESHOLD_M/1000:.0f} km)")
    still_unmatched_ct = len(unmatched_base) - len(spatial_recovered)
    print(f"Still unmatched after spatial:    {still_unmatched_ct}")

Using unmatched_city as base: 616 rows
Assets ready for spatial match (have coords): 616 / 616
Spatial recovered rows (within threshold): 358 / 616
Distance (m) summary:
 count      358.000000
mean      4721.900895
std       5552.532415
min         62.061892
25%       1353.916522
50%       2818.638002
75%       4711.981832
max      27005.872834
Name: nearest_dist_m, dtype: float64

--- FINAL COUNTS ---
Previously matched on Zip:        8036
Previously matched on City+State: 0
Newly matched spatially:          358 (<= 30 km)
Still unmatched after spatial:    258

In [ ]:
# -----------------------------
# 1) Drop columns that are completely blank (all NaN)
# -----------------------------
final_merged_cleaned = final_merged_spatial.dropna(axis=1, how="all")

dropped_cols_count = final_merged_spatial.shape[1] - final_merged_cleaned.shape[1]
print(f"Dropped {dropped_cols_count} columns with all blank values.")
print(f"Remaining columns: {final_merged_cleaned.shape[1]}")

# -----------------------------
# 2) Drop rows that still have no valuation match (i.e., SizeRank is missing)
# -----------------------------
if 'SizeRank' in final_merged_cleaned.columns:
    final_merged_no_unmatched = final_merged_cleaned[final_merged_cleaned['SizeRank'].notna()].copy()
    dropped_rows_count = final_merged_cleaned.shape[0] - final_merged_no_unmatched.shape[0]
    print(f"Dropped {dropped_rows_count} unmatched rows (SizeRank missing).")
    print(f"Remaining rows: {final_merged_no_unmatched.shape[0]}")
else:
    final_merged_no_unmatched = final_merged_cleaned.copy()
    print("Warning: 'SizeRank' column not found. No rows dropped based on SizeRank.")
    print(f"Remaining rows: {final_merged_no_unmatched.shape[0]}")

Dropped 628 columns with all blank values.
Remaining columns: 337
Dropped 0 unmatched rows (SizeRank missing).
Remaining rows: 8394

In [ ]:
if 'final_merged_no_unmatched' in locals() and final_merged_no_unmatched is not None:
    print("Column names and their index numbers in final_merged_no_unmatched:")
    for i, col in enumerate(final_merged_no_unmatched.columns):
        print(f"Column Index {i}: {col}")
else:
    print("The final_merged_no_unmatched DataFrame is not available.")

Column names and their index numbers in final_merged_no_unmatched:
Column Index 0: Owned or Leased
Column Index 1: GSA Region
Column Index 2: Street Address
Column Index 3: City_d1
Column Index 4: State_d1
Column Index 5: Zip Code
Column Index 6: Latitude
Column Index 7: Longitude
Column Index 8: Building Rentable Square Feet
Column Index 9: Construction Date
Column Index 10: Congressional District
Column Index 11: Building Status
Column Index 12: Real Property Asset Type
Column Index 13: Building Age
Column Index 14: SizeRank
Column Index 15: RegionName
Column Index 16: State_d2
Column Index 17: City_d2
Column Index 18: Metro
Column Index 19: CountyName
Column Index 20: 31-01-2000
Column Index 21: 29-02-2000
Column Index 22: 31-03-2000
Column Index 23: 30-04-2000
Column Index 24: 31-05-2000
Column Index 25: 30-06-2000
Column Index 26: 31-07-2000
Column Index 27: 31-08-2000
Column Index 28: 30-09-2000
Column Index 29: 31-10-2000
Column Index 30: 30-11-2000
Column Index 31: 31-12-2000
Column Index 32: 31-01-2001
Column Index 33: 28-02-2001
Column Index 34: 31-03-2001
Column Index 35: 30-04-2001
Column Index 36: 31-05-2001
Column Index 37: 30-06-2001
Column Index 38: 31-07-2001
Column Index 39: 31-08-2001
Column Index 40: 30-09-2001
Column Index 41: 31-10-2001
Column Index 42: 30-11-2001
Column Index 43: 31-12-2001
Column Index 44: 31-01-2002
Column Index 45: 28-02-2002
Column Index 46: 31-03-2002
Column Index 47: 30-04-2002
Column Index 48: 31-05-2002
Column Index 49: 30-06-2002
Column Index 50: 31-07-2002
Column Index 51: 31-08-2002
Column Index 52: 30-09-2002
Column Index 53: 31-10-2002
Column Index 54: 30-11-2002
Column Index 55: 31-12-2002
Column Index 56: 31-01-2003
Column Index 57: 28-02-2003
Column Index 58: 31-03-2003
Column Index 59: 30-04-2003
Column Index 60: 31-05-2003
Column Index 61: 30-06-2003
Column Index 62: 31-07-2003
Column Index 63: 31-08-2003
Column Index 64: 30-09-2003
Column Index 65: 31-10-2003
Column Index 66: 30-11-2003
Column Index 67: 31-12-2003
Column Index 68: 31-01-2004
Column Index 69: 29-02-2004
Column Index 70: 31-03-2004
Column Index 71: 30-04-2004
Column Index 72: 31-05-2004
Column Index 73: 30-06-2004
Column Index 74: 31-07-2004
Column Index 75: 31-08-2004
Column Index 76: 30-09-2004
Column Index 77: 31-10-2004
Column Index 78: 30-11-2004
Column Index 79: 31-12-2004
Column Index 80: 31-01-2005
Column Index 81: 28-02-2005
Column Index 82: 31-03-2005
Column Index 83: 30-04-2005
Column Index 84: 31-05-2005
Column Index 85: 30-06-2005
Column Index 86: 31-07-2005
Column Index 87: 31-08-2005
Column Index 88: 30-09-2005
Column Index 89: 31-10-2005
Column Index 90: 30-11-2005
Column Index 91: 31-12-2005
Column Index 92: 31-01-2006
Column Index 93: 28-02-2006
Column Index 94: 31-03-2006
Column Index 95: 30-04-2006
Column Index 96: 31-05-2006
Column Index 97: 30-06-2006
Column Index 98: 31-07-2006
Column Index 99: 31-08-2006
Column Index 100: 30-09-2006
Column Index 101: 31-10-2006
Column Index 102: 30-11-2006
Column Index 103: 31-12-2006
Column Index 104: 31-01-2007
Column Index 105: 28-02-2007
Column Index 106: 31-03-2007
Column Index 107: 30-04-2007
Column Index 108: 31-05-2007
Column Index 109: 30-06-2007
Column Index 110: 31-07-2007
Column Index 111: 31-08-2007
Column Index 112: 30-09-2007
Column Index 113: 31-10-2007
Column Index 114: 30-11-2007
Column Index 115: 31-12-2007
Column Index 116: 31-01-2008
Column Index 117: 29-02-2008
Column Index 118: 31-03-2008
Column Index 119: 30-04-2008
Column Index 120: 31-05-2008
Column Index 121: 30-06-2008
Column Index 122: 31-07-2008
Column Index 123: 31-08-2008
Column Index 124: 30-09-2008
Column Index 125: 31-10-2008
Column Index 126: 30-11-2008
Column Index 127: 31-12-2008
Column Index 128: 31-01-2009
Column Index 129: 28-02-2009
Column Index 130: 31-03-2009
Column Index 131: 30-04-2009
Column Index 132: 31-05-2009
Column Index 133: 30-06-2009
Column Index 134: 31-07-2009
Column Index 135: 31-08-2009
Column Index 136: 30-09-2009
Column Index 137: 31-10-2009
Column Index 138: 30-11-2009
Column Index 139: 31-12-2009
Column Index 140: 31-01-2010
Column Index 141: 28-02-2010
Column Index 142: 31-03-2010
Column Index 143: 30-04-2010
Column Index 144: 31-05-2010
Column Index 145: 30-06-2010
Column Index 146: 31-07-2010
Column Index 147: 31-08-2010
Column Index 148: 30-09-2010
Column Index 149: 31-10-2010
Column Index 150: 30-11-2010
Column Index 151: 31-12-2010
Column Index 152: 31-01-2011
Column Index 153: 28-02-2011
Column Index 154: 31-03-2011
Column Index 155: 30-04-2011
Column Index 156: 31-05-2011
Column Index 157: 30-06-2011
Column Index 158: 31-07-2011
Column Index 159: 31-08-2011
Column Index 160: 30-09-2011
Column Index 161: 31-10-2011
Column Index 162: 30-11-2011
Column Index 163: 31-12-2011
Column Index 164: 31-01-2012
Column Index 165: 29-02-2012
Column Index 166: 31-03-2012
Column Index 167: 30-04-2012
Column Index 168: 31-05-2012
Column Index 169: 30-06-2012
Column Index 170: 31-07-2012
Column Index 171: 31-08-2012
Column Index 172: 30-09-2012
Column Index 173: 31-10-2012
Column Index 174: 30-11-2012
Column Index 175: 31-12-2012
Column Index 176: 31-01-2013
Column Index 177: 28-02-2013
Column Index 178: 31-03-2013
Column Index 179: 30-04-2013
Column Index 180: 31-05-2013
Column Index 181: 30-06-2013
Column Index 182: 31-07-2013
Column Index 183: 31-08-2013
Column Index 184: 30-09-2013
Column Index 185: 31-10-2013
Column Index 186: 30-11-2013
Column Index 187: 31-12-2013
Column Index 188: 31-01-2014
Column Index 189: 28-02-2014
Column Index 190: 31-03-2014
Column Index 191: 30-04-2014
Column Index 192: 31-05-2014
Column Index 193: 30-06-2014
Column Index 194: 31-07-2014
Column Index 195: 31-08-2014
Column Index 196: 30-09-2014
Column Index 197: 31-10-2014
Column Index 198: 30-11-2014
Column Index 199: 31-12-2014
Column Index 200: 31-01-2015
Column Index 201: 28-02-2015
Column Index 202: 31-03-2015
Column Index 203: 30-04-2015
Column Index 204: 31-05-2015
Column Index 205: 30-06-2015
Column Index 206: 31-07-2015
Column Index 207: 31-08-2015
Column Index 208: 30-09-2015
Column Index 209: 31-10-2015
Column Index 210: 30-11-2015
Column Index 211: 31-12-2015
Column Index 212: 31-01-2016
Column Index 213: 29-02-2016
Column Index 214: 31-03-2016
Column Index 215: 30-04-2016
Column Index 216: 31-05-2016
Column Index 217: 30-06-2016
Column Index 218: 31-07-2016
Column Index 219: 31-08-2016
Column Index 220: 30-09-2016
Column Index 221: 31-10-2016
Column Index 222: 30-11-2016
Column Index 223: 31-12-2016
Column Index 224: 31-01-2017
Column Index 225: 28-02-2017
Column Index 226: 31-03-2017
Column Index 227: 30-04-2017
Column Index 228: 31-05-2017
Column Index 229: 30-06-2017
Column Index 230: 31-07-2017
Column Index 231: 31-08-2017
Column Index 232: 30-09-2017
Column Index 233: 31-10-2017
Column Index 234: 30-11-2017
Column Index 235: 31-12-2017
Column Index 236: 31-01-2018
Column Index 237: 28-02-2018
Column Index 238: 31-03-2018
Column Index 239: 30-04-2018
Column Index 240: 31-05-2018
Column Index 241: 30-06-2018
Column Index 242: 31-07-2018
Column Index 243: 31-08-2018
Column Index 244: 30-09-2018
Column Index 245: 31-10-2018
Column Index 246: 30-11-2018
Column Index 247: 31-12-2018
Column Index 248: 31-01-2019
Column Index 249: 28-02-2019
Column Index 250: 31-03-2019
Column Index 251: 30-04-2019
Column Index 252: 31-05-2019
Column Index 253: 30-06-2019
Column Index 254: 31-07-2019
Column Index 255: 31-08-2019
Column Index 256: 30-09-2019
Column Index 257: 31-10-2019
Column Index 258: 30-11-2019
Column Index 259: 31-12-2019
Column Index 260: 31-01-2020
Column Index 261: 29-02-2020
Column Index 262: 31-03-2020
Column Index 263: 30-04-2020
Column Index 264: 31-05-2020
Column Index 265: 30-06-2020
Column Index 266: 31-07-2020
Column Index 267: 31-08-2020
Column Index 268: 30-09-2020
Column Index 269: 31-10-2020
Column Index 270: 30-11-2020
Column Index 271: 31-12-2020
Column Index 272: 31-01-2021
Column Index 273: 28-02-2021
Column Index 274: 31-03-2021
Column Index 275: 30-04-2021
Column Index 276: 31-05-2021
Column Index 277: 30-06-2021
Column Index 278: 31-07-2021
Column Index 279: 31-08-2021
Column Index 280: 30-09-2021
Column Index 281: 31-10-2021
Column Index 282: 30-11-2021
Column Index 283: 31-12-2021
Column Index 284: 31-01-2022
Column Index 285: 28-02-2022
Column Index 286: 31-03-2022
Column Index 287: 30-04-2022
Column Index 288: 31-05-2022
Column Index 289: 30-06-2022
Column Index 290: 31-07-2022
Column Index 291: 31-08-2022
Column Index 292: 30-09-2022
Column Index 293: 31-10-2022
Column Index 294: 30-11-2022
Column Index 295: 31-12-2022
Column Index 296: 31-01-2023
Column Index 297: 28-02-2023
Column Index 298: 31-03-2023
Column Index 299: 30-04-2023
Column Index 300: 31-05-2023
Column Index 301: 30-06-2023
Column Index 302: 31-07-2023
Column Index 303: 31-08-2023
Column Index 304: 30-09-2023
Column Index 305: 31-10-2023
Column Index 306: 30-11-2023
Column Index 307: 31-12-2023
Column Index 308: 31-01-2024
Column Index 309: 29-02-2024
Column Index 310: 31-03-2024
Column Index 311: 30-04-2024
Column Index 312: 31-05-2024
Column Index 313: 30-06-2024
Column Index 314: 31-07-2024
Column Index 315: 31-08-2024
Column Index 316: 30-09-2024
Column Index 317: 31-10-2024
Column Index 318: 30-11-2024
Column Index 319: 31-12-2024
Column Index 320: 31-01-2025
Column Index 321: 28-02-2025
Column Index 322: 31-03-2025
Column Index 323: 30-04-2025
Column Index 324: 31-05-2025
Column Index 325: 30-06-2025
Column Index 326: 31-07-2025
Column Index 327: city_state_clean_d1
Column Index 328: asset_lat
Column Index 329: asset_lng
Column Index 330: index_right
Column Index 331: State_right
Column Index 332: City_right
Column Index 333: city_state_clean_d2_right
Column Index 334: lat
Column Index 335: lng
Column Index 336: nearest_dist_m

In [ ]:
if 'final_merged_no_unmatched' in locals() and final_merged_no_unmatched is not None:
    print("--- Info for final_merged_no_unmatched ---")
    final_merged_no_unmatched.info()
else:
    print("final_merged_no_unmatched DataFrame is not available.")

--- Info for final_merged_no_unmatched ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8394 entries, 0 to 8393
Columns: 337 entries, Owned or Leased to nearest_dist_m
dtypes: float64(325), int64(7), object(5)
memory usage: 21.6+ MB

In [ ]:
if 'final_merged_no_unmatched' in locals() and final_merged_no_unmatched is not None:
    print("--- Dropping columns with all blank values from final_merged_no_unmatched ---")
    # Drop columns where all values are NaN
    final_merged_spatial_cleaned = final_merged_no_unmatched.dropna(axis=1, how='all')

    print(f"Original number of columns: {final_merged_no_unmatched.shape[1]}")
    print(f"Number of columns after dropping blank columns: {final_merged_spatial_cleaned.shape[1]}")

    # Update the final_merged_spatial variable if you want to continue working with the cleaned data
    final_merged_spatial = final_merged_spatial_cleaned
    print("Updated final_merged_spatial with the cleaned DataFrame.")

else:
    print("final_merged_spatial DataFrame is not available. Cannot perform this operation.")

--- Dropping columns with all blank values from final_merged_no_unmatched ---
Original number of columns: 337
Number of columns after dropping blank columns: 337
Updated final_merged_spatial with the cleaned DataFrame.

In [ ]:
if 'final_merged_spatial' in locals() and final_merged_spatial is not None:
    print("--- Selecting columns from 'Owned or Leased' to '31-07-2025' ---")

    # Get the list of all columns
    all_columns = final_merged_spatial.columns.tolist()

    try:
        # Find the index of the start and end columns
        start_index = all_columns.index('Owned or Leased')
        end_index = all_columns.index('31-07-2025')

        # Select the columns within the specified range (inclusive of the end index)
        columns_to_keep = all_columns[start_index : end_index + 1]

        # Create a new DataFrame with only the selected columns
        final_merged_spatial_subset = final_merged_spatial[columns_to_keep].copy()

        print(f"Original number of columns: {final_merged_spatial.shape[1]}")
        print(f"Number of columns after selecting the range: {final_merged_spatial_subset.shape[1]}")

        # Update the final_merged_spatial variable to the subset
        final_merged_spatial = final_merged_spatial_subset
        print("Updated final_merged_spatial to include only the selected columns.")

        print("\n--- Columns in the updated final_merged_spatial ---")
        print(final_merged_spatial.columns.tolist())

    except ValueError as e:
        print(f"Error: One of the specified columns was not found in the DataFrame: {e}")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

else:
    print("final_merged_spatial DataFrame is not available. Cannot perform this operation.")

--- Selecting columns from 'Owned or Leased' to '31-07-2025' ---
Original number of columns: 337
Number of columns after selecting the range: 327
Updated final_merged_spatial to include only the selected columns.

--- Columns in the updated final_merged_spatial ---
['Owned or Leased', 'GSA Region', 'Street Address', 'City_d1', 'State_d1', 'Zip Code', 'Latitude', 'Longitude', 'Building Rentable Square Feet', 'Construction Date', 'Congressional District', 'Building Status', 'Real Property Asset Type', 'Building Age', 'SizeRank', 'RegionName', 'State_d2', 'City_d2', 'Metro', 'CountyName', '31-01-2000', '29-02-2000', '31-03-2000', '30-04-2000', '31-05-2000', '30-06-2000', '31-07-2000', '31-08-2000', '30-09-2000', '31-10-2000', '30-11-2000', '31-12-2000', '31-01-2001', '28-02-2001', '31-03-2001', '30-04-2001', '31-05-2001', '30-06-2001', '31-07-2001', '31-08-2001', '30-09-2001', '31-10-2001', '30-11-2001', '31-12-2001', '31-01-2002', '28-02-2002', '31-03-2002', '30-04-2002', '31-05-2002', '30-06-2002', '31-07-2002', '31-08-2002', '30-09-2002', '31-10-2002', '30-11-2002', '31-12-2002', '31-01-2003', '28-02-2003', '31-03-2003', '30-04-2003', '31-05-2003', '30-06-2003', '31-07-2003', '31-08-2003', '30-09-2003', '31-10-2003', '30-11-2003', '31-12-2003', '31-01-2004', '29-02-2004', '31-03-2004', '30-04-2004', '31-05-2004', '30-06-2004', '31-07-2004', '31-08-2004', '30-09-2004', '31-10-2004', '30-11-2004', '31-12-2004', '31-01-2005', '28-02-2005', '31-03-2005', '30-04-2005', '31-05-2005', '30-06-2005', '31-07-2005', '31-08-2005', '30-09-2005', '31-10-2005', '30-11-2005', '31-12-2005', '31-01-2006', '28-02-2006', '31-03-2006', '30-04-2006', '31-05-2006', '30-06-2006', '31-07-2006', '31-08-2006', '30-09-2006', '31-10-2006', '30-11-2006', '31-12-2006', '31-01-2007', '28-02-2007', '31-03-2007', '30-04-2007', '31-05-2007', '30-06-2007', '31-07-2007', '31-08-2007', '30-09-2007', '31-10-2007', '30-11-2007', '31-12-2007', '31-01-2008', '29-02-2008', '31-03-2008', '30-04-2008', '31-05-2008', '30-06-2008', '31-07-2008', '31-08-2008', '30-09-2008', '31-10-2008', '30-11-2008', '31-12-2008', '31-01-2009', '28-02-2009', '31-03-2009', '30-04-2009', '31-05-2009', '30-06-2009', '31-07-2009', '31-08-2009', '30-09-2009', '31-10-2009', '30-11-2009', '31-12-2009', '31-01-2010', '28-02-2010', '31-03-2010', '30-04-2010', '31-05-2010', '30-06-2010', '31-07-2010', '31-08-2010', '30-09-2010', '31-10-2010', '30-11-2010', '31-12-2010', '31-01-2011', '28-02-2011', '31-03-2011', '30-04-2011', '31-05-2011', '30-06-2011', '31-07-2011', '31-08-2011', '30-09-2011', '31-10-2011', '30-11-2011', '31-12-2011', '31-01-2012', '29-02-2012', '31-03-2012', '30-04-2012', '31-05-2012', '30-06-2012', '31-07-2012', '31-08-2012', '30-09-2012', '31-10-2012', '30-11-2012', '31-12-2012', '31-01-2013', '28-02-2013', '31-03-2013', '30-04-2013', '31-05-2013', '30-06-2013', '31-07-2013', '31-08-2013', '30-09-2013', '31-10-2013', '30-11-2013', '31-12-2013', '31-01-2014', '28-02-2014', '31-03-2014', '30-04-2014', '31-05-2014', '30-06-2014', '31-07-2014', '31-08-2014', '30-09-2014', '31-10-2014', '30-11-2014', '31-12-2014', '31-01-2015', '28-02-2015', '31-03-2015', '30-04-2015', '31-05-2015', '30-06-2015', '31-07-2015', '31-08-2015', '30-09-2015', '31-10-2015', '30-11-2015', '31-12-2015', '31-01-2016', '29-02-2016', '31-03-2016', '30-04-2016', '31-05-2016', '30-06-2016', '31-07-2016', '31-08-2016', '30-09-2016', '31-10-2016', '30-11-2016', '31-12-2016', '31-01-2017', '28-02-2017', '31-03-2017', '30-04-2017', '31-05-2017', '30-06-2017', '31-07-2017', '31-08-2017', '30-09-2017', '31-10-2017', '30-11-2017', '31-12-2017', '31-01-2018', '28-02-2018', '31-03-2018', '30-04-2018', '31-05-2018', '30-06-2018', '31-07-2018', '31-08-2018', '30-09-2018', '31-10-2018', '30-11-2018', '31-12-2018', '31-01-2019', '28-02-2019', '31-03-2019', '30-04-2019', '31-05-2019', '30-06-2019', '31-07-2019', '31-08-2019', '30-09-2019', '31-10-2019', '30-11-2019', '31-12-2019', '31-01-2020', '29-02-2020', '31-03-2020', '30-04-2020', '31-05-2020', '30-06-2020', '31-07-2020', '31-08-2020', '30-09-2020', '31-10-2020', '30-11-2020', '31-12-2020', '31-01-2021', '28-02-2021', '31-03-2021', '30-04-2021', '31-05-2021', '30-06-2021', '31-07-2021', '31-08-2021', '30-09-2021', '31-10-2021', '30-11-2021', '31-12-2021', '31-01-2022', '28-02-2022', '31-03-2022', '30-04-2022', '31-05-2022', '30-06-2022', '31-07-2022', '31-08-2022', '30-09-2022', '31-10-2022', '30-11-2022', '31-12-2022', '31-01-2023', '28-02-2023', '31-03-2023', '30-04-2023', '31-05-2023', '30-06-2023', '31-07-2023', '31-08-2023', '30-09-2023', '31-10-2023', '30-11-2023', '31-12-2023', '31-01-2024', '29-02-2024', '31-03-2024', '30-04-2024', '31-05-2024', '30-06-2024', '31-07-2024', '31-08-2024', '30-09-2024', '31-10-2024', '30-11-2024', '31-12-2024', '31-01-2025', '28-02-2025', '31-03-2025', '30-04-2025', '31-05-2025', '30-06-2025', '31-07-2025']

In [ ]:
if 'final_merged_spatial' in locals() and final_merged_spatial is not None:
    output_path = '/content/drive/MyDrive/RWAP/final_merged_spatial.csv'
    try:
        final_merged_spatial.to_csv(output_path, index=False)
        print(f"Successfully saved final_merged_spatial to {output_path}")
    except Exception as e:
        print(f"An error occurred while saving the file: {e}")
else:
    print("final_merged_spatial DataFrame is not available. Cannot save the file.")

Successfully saved final_merged_spatial to /content/drive/MyDrive/RWAP/final_merged_spatial.csv

In [ ]:
from google.colab import files

# Specify the path to the saved file
output_path = '/content/drive/MyDrive/RWAP/final_merged_spatial.csv'

try:
    files.download(output_path)
    print(f"Attempting to download {output_path}...")
except FileNotFoundError:
    print(f"Error: File not found at {output_path}. Please ensure the file exists.")
except Exception as e:
    print(f"An error occurred during download: {e}")

Attempting to download /content/drive/MyDrive/RWAP/final_merged_spatial.csv...

In [ ]:
if 'final_merged_spatial' in locals() and final_merged_spatial is not None:
    print("--- Info for final_merged_spatial ---")
    final_merged_spatial.info()
else:
    print("final_merged_spatial DataFrame is not available.")

--- Info for final_merged_spatial ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8394 entries, 0 to 8393
Columns: 327 entries, Owned or Leased to 31-07-2025
dtypes: float64(317), int64(7), object(3)
memory usage: 20.9+ MB